.faqsection {
  width: 90%;
  margin: auto;
  padding: 50px 0px 80px 0px;
}
.faqheadline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 55px;
  text-align: center;
  color: #172b4d;
  padding-bottom: 30px;
}
.subhead {
  font-family: "Inter";
  font-style: normal;
}
