.value_container {
  width: 100%;
  background: #f4f6fc;
  padding: 70px 0px 60px 0px;
}
.value_paragraph1 {
  text-align: center;
  margin: auto;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #172b4d;
  padding-bottom: 20px;
}
.values {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 0px 10px 0px;
}
.value_button {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: none;
}
.container {
  width: 21%;
}
.font {
  font-size: 26px;
  color: #ffff;
}
.security {
  background: #3861fb;
}
.transparency {
  background: #108953;
}
.efficiency {
  background: #774fda;
}
.innovation {
  background: #fdbd47;
}
.p1 {
  font-size: 21px;
  font-family: "inter";
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: #172b4d;
  padding-top: 25px;
}
.p2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5b5971;
}
