@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  width: 30%;
  display: flex;
}
.navbar {
  height: 15vh;
  line-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.nav-links li {
  color: #172b4d;
  padding: 0px 10px;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 400;
}
button {
  border: none;
  background: none;
  font-size: 20px;
}
.mobile-menu-icon {
  display: none;
}
.googlePlay {
  width: 16%;
  padding: 10px 0px 0px 10px;
}
.navbarImg {
  width: 100%;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .logo {
    display: flex;
    position: absolute;
    top: 17px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 23px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  .googlePlay {
    width: 38%;
    padding: 0px 0px 0px 20px;
  }
  .navbar {
    height: 10vh;
    line-height: 7vh;
  }
  .navbarImg {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .logo {
    display: flex;
    position: absolute;
    width: 28%;
    top: 22px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  }
  .nav-links-mobile li {
    font-size: 23px;
    padding-left: 20px;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 30px;
    font-size: 30px;
  }
  .googlePlay {
    width: 38%;
    padding: 0px 0px 0px 20px;
  }
  .navbar {
    height: 10vh;
    line-height: 7vh;
  }
  .navbarImg {
    width: 100%;
  }
}
