.HowItWorks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
}
.Leftcont {
  width: 45%;
}
.HowItWorksrightcont {
  width: 50%;
}
.HowItWorksrightcont img {
  width: 100%;
}
.headline {
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 60px;
  color: #172b4d;
  padding-bottom: 50px;
}
.step {
  position: relative;
  z-index: 999;
  display: flex;
}
.title {
  line-height: 1.5em;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #172b4d;
  margin-bottom: 15px;
}
.caption {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #333333;
}
.step + .step {
  margin-top: 1.5em;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.circleCont {
  display: flex;
  justify-content: center;
}
.circle {
  background: #c8deff;
  position: relative;
  width: 2.4em;
  height: 2.4em;
  line-height: 1.1em;
  border-radius: 100%;
  color: #3861fb;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle:after {
  content: " ";
  position: absolute;
  display: block;
  right: 50%;
  left: 50%;
  height: 6vh;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #172b4d;
  z-index: -1;
}
.step:last-child .circle:after {
  display: none;
}
