.hero {
  width: 100%;
  background: #f4f6fc;
  padding: 40px 0;
}
.hero-cont {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  width: 95%;
  flex-direction: column-reverse;
  padding-top: 30px;
}
.heroContainer {
  flex: 1;
}
.hero-picture {
  flex: 1;
}
.hero-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
