.CreditSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
}
.Creditleftcont {
  width: 47%;
}
.Creditleftcont img {
  width: 100%;
}
.Creditrightcont {
  width: 45%;
}
.smallHeadline {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #27ae60;
  margin-bottom: 0;
}
.semiboldtext {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #172b4d;
  margin-bottom: 15px;
}
.semimediumtext {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 15px;
}
.downloadNow {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  scroll-behavior: smooth;
}
.downloadNow a {
  color: #3861fb;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .CreditSection {
    flex-direction: column;
    padding: 0px 20px 50px 20px;
  }
  .Creditleftcont {
    width: 100%;
  }
  .Creditrightcont {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .one {
    flex-direction: column-reverse;
  }
  .three {
    flex-direction: column-reverse;
  }
  .smallHeadline {
    font-size: 17px;
    line-height: 40px;
  }
  .semiboldtext {
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .semimediumtext {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 8px;
  }
  .downloadNow {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .CreditSection {
    flex-direction: column;
    padding: 0px 20px 50px 20px;
  }
  .Creditleftcont {
    width: 100%;
  }
  .Creditrightcont {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }

  .one {
    flex-direction: column-reverse;
  }
  .three {
    flex-direction: column-reverse;
  }
  .smallHeadline {
    font-size: 17px;
    line-height: 40px;
  }
  .semiboldtext {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .semimediumtext {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 8px;
  }
}
