.downloadSection {
  padding-top: 80px;
}
.download {
  display: flex;
  justify-content: space-around;
  padding: 40px 50px;
  width: 75%;
  margin: auto;
  background: #011d85;
  border-radius: 10px;
  color: white;
}
.downloadWriteUp {
  width: 60%;
  padding-top: 30px;
}
.downloadWriteUp h3 {
  font-family: "Inter";
  font-size: 29px;
  font-weight: 600;
  line-height: 39px;
  padding-bottom: 10px;
}
.downloadWriteUp p {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #e7e7e7;
}

@media only screen and (max-width: 768px) {
  .downloadSection {
    display: none;
  }
}
