.downloadSection {
  padding-top: 80px;
}
.download {
  display: flex;
  justify-content: space-around;
  padding: 40px 50px;
  width: 70%;
  margin: auto;
  background: #011d85;
  border-radius: 10px;
  color: white;
}
.downloadWriteUp {
  width: 65%;
}
.downloadWriteUp h3 {
  font-family: "Inter";
  font-size: 29px;
  font-weight: 600;
  line-height: 39px;
  padding-bottom: 0px;
}
.downloadWriteUp p {
  font-family: "Inter";
  font-size: 19px;
  font-weight: 300;
  line-height: 28px;
  color: #e7e7e7;
}

@media screen and (max-width: 700px) {
  .downloadSection {
    display: none;
  }
  .downloadImage {
    display: none;
  }
  .downloadWriteUp {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .downloadWriteUp h3 {
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 10px;
  }
  .downloadWriteUp p {
    font-size: 17px;
    line-height: 30px;
  }
  .download {
    padding: 20px 0px;
  }
  .downloadSection {
    padding-top: 60px;
  }
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .download {
    padding: 20px 50px;
    width: 85%;
  }

  .downloadWriteUp {
    width: 60%;
    padding: 20px 0px;
  }
  .downloadWriteUp h3 {
    font-size: 21px;
    line-height: 40px;
    padding-bottom: 0px;
  }
  .downloadWriteUp p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #e7e7e7;
  }
}
@media screen and (min-width: 801px) and (max-width: 900px) {
  .download {
    padding: 20px 50px;
    width: 80%;
  }

  .downloadWriteUp {
    padding: 20px 0px;
    width: 65%;
  }
  .downloadWriteUp h3 {
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 0px;
  }
  .downloadWriteUp p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
}
